
.root {
    -fx-font-family: "Arial, Helvetica, sans-serif";
    -fx-font-size: 14px;
}

.label {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
